/EC01-DanielRomero/nbproject/private/
/EC01-DanielRomero/build/
/Semana08_ServiciosWeb/nbproject/private/
/Semana08_ServiciosWeb/build/
/proyecto/nbproject/private/
/proyecto/build/
/appCinestar/nbproject/private/
/appCinestar/build/
/appCinestar/dist/
/swCineStar/nbproject/private/
/swCineStar/build/
/swCineStar/dist/
/swGlobalChef/nbproject/private/
/swGlobalChef/build/
/swGlobalChef/dist/
/ServiciosGlobalChef/nbproject/private/
/ServiciosGlobalChef/build/
/ServiciosGlobalChef/dist/
/webGlobalChef/nbproject/private/
/webGlobalChef/build/
/webGlobalChef/dist/
/appGlobalChef/nbproject/private/
/appGlobalChef/build/